@charset "utf-8";

:root {
    --kia-white1: #FBF6EF;
    --kia-white2: #DDD8D1;
    --kia-black: #121212;
}

button {
    padding: 16px 32px;
    border-radius: 55px;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    gap: 12px;
}


.white_origin {
    background: rgba(251, 246, 239, 0.45);
    /* 1. 배경: 빛(-45도, 80%) 느낌을 살린 선형 그라데이션 */
    background: linear-gradient(135deg,
            rgba(251, 246, 239, 0.45));

    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);

    /* 3. 깊이(75)와 굴절(94) 느낌을 주는 테두리 하이라이트 */
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    /* 상단 빛 반사 */
    border-left: 1px solid rgba(255, 255, 255, 0.6);
    color: var(--kia-black);
}